<div>
    <div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span class="menu-spacer">Oak-T Systems</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div>
        <mat-tab-group mat-align-tabs="end" backgroundColor="primary">
            <span>teste</span>
            <mat-tab label="Home"><app-home></app-home></mat-tab>
            <mat-tab label="Sobre"><app-about></app-about></mat-tab>
            <mat-tab label="Contato"><app-contact></app-contact></mat-tab>
        </mat-tab-group>
    </div>
</div>



<!-- 
<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Home"><app-home></app-home></mat-tab>
    <mat-tab label="Sobre"><app-about></app-about></mat-tab>
    <mat-tab label="Contato"><app-contact></app-contact></mat-tab>
</mat-tab-group>

 -->

